In [1]:
from sqlalchemy import create_engine
import os
import numpy as np
import pandas as pd
from dotenv import load_dotenv

def create_connection():

    load_dotenv()
    host = os.environ.get('DB_DESTINATION_HOST')
    port = os.environ.get('DB_DESTINATION_PORT')
    db = os.environ.get('DB_DESTINATION_NAME')
    username = os.environ.get('DB_DESTINATION_USER')
    password = os.environ.get('DB_DESTINATION_PASSWORD')
    
    print(f'postgresql://{username}:{password}@{host}:{port}/{db}')
    conn = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{db}')
    return conn

# установите соединение с базой
conn = create_connection()

data = pd.read_sql('select * from users_churn', conn, parse_dates=['start_date', 'end_date'])

postgresql://mle_20240919_f8666628fb:b4759a54ffe6447e81eaef1c5d36fff1@rc1b-uh7kdmcx67eomesf.mdb.yandexcloud.net:6432/playground_mle_20240919_f8666628fb

In [2]:
data

,id,customer_id,begin_date,end_date,type,paperless_billing,payment_method,monthly_charges,total_charges,internet_service,...,device_protection,tech_support,streaming_tv,streaming_movies,gender,senior_citizen,partner,dependents,multiple_lines,target
0,1,7590-VHVEG,2020-01-01,NaT,Month-to-month,Yes,Electronic check,29.85,29.85,DSL,...,No,No,No,No,Female,0,Yes,No,None,0
1,2,5575-GNVDE,2017-04-01,NaT,One year,No,Mailed check,56.95,1889.50,DSL,...,Yes,No,No,No,Male,0,No,No,No,0
2,3,3668-QPYBK,2019-10-01,2019-12-01,Month-to-month,Yes,Mailed check,53.85,108.15,DSL,...,No,No,No,No,Male,0,No,No,No,1
3,4,7795-CFOCW,2016-05-01,NaT,One year,No,Bank transfer (automatic),42.30,1840.75,DSL,...,Yes,Yes,No,No,Male,0,No,No,None,0
4,5,9237-HQITU,2019-09-01,2019-11-01,Month-to-month,Yes,Electronic check,70.70,151.65,Fiber optic,...,No,No,No,No,Female,0,No,No,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7039,6840-RESVB,2018-02-01,NaT,One year,Yes,Mailed check,84.80,1990.50,DSL,...,Yes,Yes,Yes,Yes,Male,0,Yes,Yes,Yes,0
7039,7040,2234-XADUH,2014-02-01,NaT,One year,Yes,Credit card (automatic),103.20,7362.90,Fiber optic,...,Yes,No,Yes,Yes,Female,0,Yes,Yes,Yes,0
7040,7041,4801-JZAZL,2019-03-01,NaT,Month-to-month,Yes,Electronic check,29.60,346.45,DSL,...,No,No,No,No,Female,0,Yes,Yes,None,0
7041,7042,8361-LTMKD,2019-07-01,2019-11-01,Month-to-month,Yes,Mailed check,74.40,306.60,Fiber optic,...,No,No,No,No,Male,1,Yes,No,Yes,1
7042,7043,3186-AJIEK,2014-08-01,NaT,Two year,Yes,Bank transfer (automatic),105.65,6844.50,Fiber optic,...,Yes,Yes,Yes,Yes,Male,0,No,No,No,0

In [3]:
is_duplicated_id = data.duplicated(subset=['customer_id'], keep=False)
# параметр keep = False приводит к тому, что и оригинал, и дубликат помечаются как объект с дубликатом
print(sum(is_duplicated_id))

0

In [6]:
feature_cols = ['begin_date',
                'end_date',
                'type',
                'paperless_billing',
                'payment_method',
                'monthly_charges',
                'total_charges',
                'internet_service',
                'online_security',
                'online_backup',
                'device_protection',
                'tech_support',
                'streaming_tv',
                'streaming_movies',
                'gender',
                'senior_citizen',
                'partner',
                'dependents',
                'multiple_lines',
                'target']
is_duplicated_features = data.duplicated(subset=feature_cols, keep=False)
print(len(data[is_duplicated_features]))

24

In [7]:
print(data[is_duplicated_features].sort_values(feature_cols))

        id customer_id begin_date   end_date            type  \
4536  4537  3428-XZMAZ 2019-10-01 2019-11-01  Month-to-month
6924  6925  6457-GIRWB 2019-10-01 2019-11-01  Month-to-month
3679  3680  1240-KNSEZ 2019-10-01 2019-11-01  Month-to-month
6609  6610  1000-AJSLD 2019-10-01 2019-11-01  Month-to-month
1731  1732  8375-DKEBR 2019-12-01 2020-01-01  Month-to-month
3302  3302  2636-ALXXZ 2019-12-01 2020-01-01  Month-to-month
542    543  2866-IKBTM 2020-01-01        NaT  Month-to-month
1491  1492  8605-ITULD 2020-01-01        NaT  Month-to-month
5170  5171  7721-DVEKZ 2020-01-01        NaT  Month-to-month
6774  6775  0970-QXPXW 2020-01-01        NaT  Month-to-month
4817  4818  6654-QGBZZ 2020-01-01        NaT  Month-to-month
6706  6707  7878-RTCZG 2020-01-01        NaT  Month-to-month
662    663  3030-ZKIWL 2020-01-01        NaT  Month-to-month
3754  3755  7096-UCLNH 2020-01-01        NaT  Month-to-month
5736  5737  8749-CLJXC 2020-01-01        NaT  Month-to-month
100    101  6380-ARCEH 2020-01-01        NaT  Month-to-month
1932  1933  3247-MHJKM 2020-01-01        NaT  Month-to-month
5506  5507  8048-DSDFQ 2020-01-01        NaT  Month-to-month
3313  3313  9122-UMROB 2020-01-01        NaT  Month-to-month
6499  6500  2676-ISHSF 2020-01-01        NaT  Month-to-month
2121  2122  0673-IGUQO 2020-01-01        NaT  Month-to-month
2892  2893  2668-TZSPS 2020-01-01        NaT  Month-to-month
690    691  8262-COGGB 2020-01-01        NaT  Month-to-month
2713  2714  5996-DAOQL 2020-01-01        NaT  Month-to-month

     paperless_billing    payment_method  monthly_charges  total_charges  \
4536               Yes  Electronic check            69.35          69.35
6924               Yes  Electronic check            69.35          69.35
3679               Yes      Mailed check            20.10          20.10
6609               Yes      Mailed check            20.10          20.10
1731               Yes  Electronic check            69.60          69.60
3302               Yes  Electronic check            69.60          69.60
542                 No      Mailed check            19.55          19.55
1491                No      Mailed check            19.55          19.55
5170                No      Mailed check            19.65          19.65
6774                No      Mailed check            19.65          19.65
4817                No      Mailed check            19.90          19.90
6706                No      Mailed check            19.90          19.90
662                 No      Mailed check            20.05          20.05
3754                No      Mailed check            20.05          20.05
5736                No      Mailed check            20.05          20.05
100                 No      Mailed check            20.20          20.20
1932                No      Mailed check            20.20          20.20
5506                No      Mailed check            20.20          20.20
3313                No      Mailed check            20.30          20.30
6499                No      Mailed check            20.30          20.30
2121                No      Mailed check            20.45          20.45
2892                No      Mailed check            20.45          20.45
690                Yes      Mailed check            20.45          20.45
2713               Yes      Mailed check            20.45          20.45

     internet_service  ... device_protection tech_support streaming_tv  \
4536      Fiber optic  ...                No           No           No
6924      Fiber optic  ...                No           No           No
3679             None  ...              None         None         None
6609             None  ...              None         None         None
1731      Fiber optic  ...                No           No           No
3302      Fiber optic  ...                No           No           No
542              None  ...              None         None         None
1491             None  ...              None         None         None
5170             None  ...              None         None         None
6774             None  ...              None         None         None
4817             None  ...              None         None         None
6706             None  ...              None         None         None
662              None  ...              None         None         None
3754             None  ...              None         None         None
5736             None  ...              None         None         None
100              None  ...              None         None         None
1932             None  ...              None         None         None
5506             None  ...              None         None         None
3313             None  ...              None         None         None
6499             None  ...              None         None         None
2121             None  ...              None         None         None
2892             None  ...              None         None         None
690              None  ...              None         None         None
2713             None  ...              None         None         None

     streaming_movies  gender senior_citizen partner  dependents  \
4536               No    Male              0      No          No
6924               No    Male              0      No          No
3679             None    Male              0      No          No
6609             None    Male              0      No          No
1731               No  Female              1      No          No
3302               No  Female              1      No          No
542              None  Female              0      No          No
1491             None  Female              0      No          No
5170             None  Female              0      No          No
6774             None  Female              0      No          No
4817             None  Female              0      No          No
6706             None  Female              0      No          No
662              None    Male              0      No          No
3754             None    Male              0      No          No
5736             None    Male              0      No          No
100              None    Male              0      No          No
1932             None    Male              0      No          No
5506             None    Male              0      No          No
3313             None    Male              0      No          No
6499             None    Male              0      No          No
2121             None    Male              0      No          No
2892             None    Male              0      No          No
690              None    Male              0      No          No
2713             None    Male              0      No          No

     multiple_lines target
4536             No      1
6924             No      1
3679             No      1
6609             No      1
1731             No      1
3302             No      1
542              No      0
1491             No      0
5170             No      0
6774             No      0
4817             No      0
6706             No      0
662              No      0
3754             No      0
5736             No      0
100              No      0
1932             No      0
5506             No      0
3313             No      0
6499             No      0
2121             No      0
2892             No      0
690              No      0
2713             No      0

[24 rows x 22 columns]

In [8]:
data = data[~is_duplicated_features].reset_index(drop=True)

In [11]:
def remove_duplicates(data):
    feature_cols = data.columns.drop('customer_id').tolist()
    is_duplicated_features = data.duplicated(subset=feature_cols, keep=False)
    data = data[~is_duplicated_features].reset_index(drop=True)
    return data

In [12]:
data.isnull().sum()

id                      0
customer_id             0
begin_date              0
end_date             5156
type                    0
paperless_billing       0
payment_method          0
monthly_charges         0
total_charges          11
internet_service     1506
online_security      1506
online_backup        1506
device_protection    1506
tech_support         1506
streaming_tv         1506
streaming_movies     1506
gender                  0
senior_citizen          0
partner                 0
dependents              0
multiple_lines        682
target                  0
dtype: int64

In [13]:
cols_with_nans = data.isnull().sum()
cols_with_nans = cols_with_nans[cols_with_nans > 0].index.drop('end_date')

In [18]:
data["streaming_movies"].mode().iloc[0]

'No'

In [ ]:
cols_with_nans = data.isnull().sum()
cols_with_nans = cols_with_nans[cols_with_nans > 0].index.drop('end_date')
for col in cols_with_nans:
	if data[col].dtype in [float, int]:
		fill_value = data[col].mean()
	elif data[col].dtype == 'object':
		fill_value = data[col].mode().iloc[0]
	data[col] = fill_value